
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#stanford-images {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
    overflow: hidden;
}


#stanford-images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transform: scale(1); 
    transition: opacity 1.5s ease-in-out, transform 10s ease-in-out; 
    background-color: black;
}


#stanford-images img.active {
    opacity: 1;
    transform: scale(1.1); 
}

#text-message {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    opacity: 1;
    z-index: 2;
    transition: opacity 1.5s ease-in-out;
    position: relative;
    margin: 0;
}


#play-button {
    position: absolute;
    bottom: 20%;
    background: linear-gradient(135deg, #ff7e5f, #feb47b); 
    color: white;
    font-size: 1.5rem;
    font-weight: bold; 
    padding: 15px 30px; 
    border: none; 
    border-radius: 30px;
    cursor: pointer; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
    z-index: 3;
}


#play-button:hover {
    background: linear-gradient(135deg, #feb47b, #ff7e5f); 
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}


#play-button:active {
    transform: scale(0.98); 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}


.fade-out {
    opacity: 0;
    transition: opacity 1.5s ease-in-out; 
}


.audio-container {
    display: none;
}

